aioboto3==11.3.0
aiofiles ~=23.2.1
asyncpg==0.28.0
boto3==1.28.17
celery==5.3.4
fastapi==0.103.0
langchain
langchain-core 
langchain-community 
langchain-openai
pgvector==0.2.2
psycopg2==2.9.7
pypdf==3.16.0
python-dotenv==1.0.0
python-jose==3.3.0
requests==2.31.0
SQLAlchemy==2.0.20
starlette==0.27.0
tiktoken
uvicorn==0.23.2
yookassa==2.4.0
python-multipart==0.0.6
jose==1.0.0
pydantic~=2.3.0
alembic~=1.12.0
psycopg2-binary
gunicorn
pgvector
openai
tiktoken
email_validator
psycopg2-binary
yandexcloud